---
import { Image } from 'astro:assets';

interface textHome {
  since: string;
  title: string;
  subtitle: string;
  description: string;
  descrition2: string;
  button: string;
  button2: string;
}

interface Props {
  textHome: textHome;
}

const { textHome } = Astro.props;
---

<div class="home-container bg-white flex items-center">
  <div class="max-w-[1400px] mx-auto w-full flex items-center justify-between px-10 flex flex-col sm:flex-row ">

    <img
      src="/images/es/home.png"
      alt="Ranchitas Nacho"
      class="hidden lg:block w-full"
    />

     <img
      src="/images/es/home.png"
      alt="Ranchitas Nacho"
      class="lg:hidden block w-full"
    />
  </div>
</div>

<style>
  .home-container {
    height: 850px;
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .home-container {
      height: 500px;
    }
  }

  @media (max-width: 767px) {
    .home-container {
      height: 200px;
    }
  }
</style>
